<!-- views/partials/head.ejs -->
<meta charset="UTF-8" />
<title>Quotes App</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style>
  body {
    background-color: #f8f9fa !important;
  }

  label {
    font-weight: 500 !important;
  }

  #spinner {
    position: fixed;
    top: 45%;
    left: 45%;
  }
</style>